# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\micka\Documents\ISEN\algo\projet\projet_fin_annee\.idea/dataSources/
/dataSources.local.xml
